<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'bootstrap.html' %}
    <title>{{title}}</title>
</head>
<body>
    <div class="container" style="background-color: lightblue;">        
        {% include 'navlinks.html' %}
        <div class="row" style="background-color: lightblue;height:100px;"></div>
        <center>
            <h1>Address : </h1>
        </center>
        <div class="row">
            <div class="col-md-6 offset-3">
                <table class="table table-bordered">    
                    <tr>
                        <td>Jubilee Hills</td>
                    </tr>
                    <tr>
                        <td>Jubilee Hills road no.36</td>
                    </tr>
                    <tr>
                        <td>Hyderabad 500033</td>
                    </tr>
                    <tr>
                        <td>Metro Pillar C1666</td>
                    </tr>
                    <tr>
                        <td>Beside Steve Madden Store</td>
                    </tr>
                </table>
            </div>
        </div>        
        <div class="row" style="background-color: lightblue;height:200px;"></div>
    </div>
</body>
</html>